<div class="container-fluid info-block">
  <%= image_tag 'business.jpg' %>
  <p>
    Компания ООО «Бетар-Волга» существует на рынке 3 года, являясь официальным представителем ведущих фирм на территории Волгоградской области, таких как:
    "Бетар-Волга», «Синикон», "Уклад», “Oscar”, “Регион Спец-Техно» - лидеров в производстве сантехнической группы и дистрибьюторского сервиса.
  </p>
  <p>
    Мы предлагаем более 2000 наименований продукции, широко известной на рынке России и за его пределами, ассортимент которой постоянно обновляется с учетом мировых тенденций и изменений на потребительском рынке.
  </p>
  <p>
    На протяжении 2-х последних лет компания ООО «Бетар-Волга» является представителем одного из лучших предприятий России «Бетар», а это тотальный контроль качества.
  </p>
  <p>
    Почему с нашей компанией выгодно сотрудничать?
  </p>
  <ol>
    <li>Мы предлагаем оптимальное сочетание качества продукции с конкурентно-способной ценой, адаптированной к сегодняшней экономической ситуации.</li>
    <li>Покупать у нас выгодно как оптом, так и в розницу! Для наших покупателей существует гибкая система скидок, позволяющая развивать собственный бизнес.</li>
    <li>Бесплатная доставка товара в кратчайшие сроки по г. Волжский и г. Волгоград, что называется «от двери до двери», по области.</li>
  </ol>
  <p>
    Если вам нужна продукция в любом объеме и требуется надежный и стабильный поставщик-выбирайте компанию ООО «Бетар-Волга», предлагающую огромный ассортимент товара по конкурентно способным ценам и европейский уровень обслуживания.
  </p>
</div>