<div class="row sales_wrap">

  <h1>Акции</h1>

  <% @sales.each do |sale| %>
      <div class="sale">
        <h2><a href="/sales/<%= sale.id %>"><%= sale.name %></a></h2>
        <div class="artilce_preview">
          <%= strip_tags sale.content.split('.')[0].html_safe %>.
        </div>
      </div>
  <% end %>

  <%= paginate @sales %>
</div>
