<div class="row sale_wrap">
  <h2 class="sale_name"><%= @sale.name %></h2>

  <article>
    <%= @sale.content.html_safe %>
  </article>

  <a href="/sales" class="show_all">К списку акций</a>
</div>

